<div class="container" data-ng-controller="UploadController">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline" style="margin-bottom: 1em;">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="!vm.parsed">Save</button>
                    <button class="btn btn-default" ng-click="vm.uploadFile()" ng-disabled="!vm.myFile">Parse File</button>
                </div>
                <div class="form-group">
                    <input type="file" file-model="vm.myFile"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <strong>Date</strong>
        </div>
        <div class="col-sm-2">
            <strong>Amount</strong>
        </div>
        <div class="col-sm-3">
            <strong>Vendor</strong>
        </div>
        <div class="col-sm-3">
            <strong>For</strong>
        </div>
        <div class="col-sm-2">
            <strong>Category</strong>
        </div>
    </div>
    <div class="row" ng-repeat="transaction in vm.transactions">
        <div class="col-sm-2">
            {{transaction.transdate | date:'MM/dd/yyyy'}}
        </div>
        <div class="col-sm-2">
            {{transaction.amount | currency}}
        </div>
        <div class="col-sm-3">
            {{transaction.vendor}}
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="transaction.description" />
        </div>
        <div class="col-sm-2">
            <select id="categoryselect" class="form-control" ng-model="transaction.category"
                ng-options="category as category.name for category in vm.categories">
            </select>
        </div>
    </div>
</div>